<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>AC - tela2</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Mensagem encriptada</ion-label>
    <ion-label>{{encryptedMessage}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Chave da criptografia</ion-label>
    <ion-input [(ngModel)]="secretKey" type="text"></ion-input>
    <ion-button expand="full" style="width: 160px;" (click)="decrypt()">Descriptografar</ion-button>
  </ion-item>
  <ion-item>  
    <ion-label>{{decryptedName}}</ion-label>
    <ion-label>{{decryptedEmail}}</ion-label>
    <ion-label>{{decryptedMessage}}</ion-label>
  </ion-item>
</ion-content>
